body {
  font-family: Arial, sans-serif;
  background-color:beige;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 50px auto; 
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  color: #333;
}

input {
  width: 80%;
  padding: 8px;
  margin: 10px 0;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#score {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #2c3e50;
}
